# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.venv
_pytest
__pycache__

# ignore nextjs build artifacts
.next
static/*.js
*.js.map
*.js
/src/server/static/*.json
trace
/src/server/static/*
/src/server/static/*.js
/src/server/static/*.js.map
/src/server/static/*.json
!**/src/server/static/images
!/src/server/static/favicon.ico
./static